@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --header-height: 3.5rem;

  /*===== Colors ====*/
  /* color mode HSL */

  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);

  --text-color-light: hsl(207, 4%, 56%);
  --text-color: hsl(207, 4%, 28%);

  --text-color-title: hsl(207, 4%, 16%);


  /* Font size and font family */

  --body-font-family: 'Merriweather', sans-serif;
  --title-font-family: 'Work Sans', serif;

  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;

  --mobile-title-font-size: 1.5rem;
  --mobile-subtitle-font-size: 1.125rem;
  --mobile-normal-font-size: 1rem;
  --mobile-small-font-size: 0.875rem;
  --mobile-smaller-font-size: 0.75rem;
  --mobile-tiny-font-size: 0.5rem;

  /* ==== Font Weight ==== */

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 600;
  --font-extra-bold: 700;

  /* z index */
  --z-index-level-negative: -1;
  --z-index-level-1: 1;
  --z-index-level-2: 10;
  --z-index-level-3: 100;
  --z-index-level-4: 1000;
  --z-index-level-heighest: 10000;

  /* padding */
  --padding-mobile-mini: 0.5rem;
  --padding-mobile: 1rem;
  --padding-tab: 1.5rem;
  --padding-desktop: 2rem;

  /* theme color */
  --theme-color: hsl(0, 100%, 40%);
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-weight: var(--font-extra-bold);
  font-family: var(--body-font-family);
  color: var(--text-color-title);
  font-weight: var(--font-bold);
  width: max-content;
  margin: auto;
}
a{
  text-decoration: none;
  list-style: none;
  transition: color 0.5s;
}

/* nav */
.nav_container {
  width: 88%;
  height: 8dvh;
  display: grid;
  grid-template-columns: max-content 10fr max-content;
  margin: 0 auto;
  gap: 0;
  position: fixed;
  z-index: var(--z-index-level-4);
  bottom: 1rem;
  left: 6%;
  padding: 0 1rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 20px var(--container-color);
  background-color: var(--body-color);
}

.nav_container span {
  font-size: 1rem;
  margin: 0 !important;
  height: max-content;
  position: relative;
  left: 0;
  align-self: center;
  justify-self: flex-end;
  width: max-content;
  cursor: pointer;
}

.nav_container span i {
  font-size: 1.5rem;
  margin: 0 !important;
}

.nav {
  display: grid;
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 3rem);
  column-gap: 2.5rem;
  row-gap: 1.6rem;
  padding: 2.5rem 2rem;
  left: 0;
  justify-content: center;
  border-radius: 1rem;
  margin: 0 !important;
  position: absolute;
  box-shadow: 0 4px 20px var(--container-color);
  background-color: var(--body-color);
  z-index: var(--z-index-level-heighest);
  transform: translateY(35%);
  transition: transform 0.5s;
}

.nav li {
  height: max-content;
}

.nav li a {
  text-decoration: none;
  font-size: var(--mobile-smaller-font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color-light);
}

.nav li a i {
  font-size: 1.3rem;
}

.cancel_menu {
  font-size: 1.5rem;
  height: max-content;
  width: max-content;
  position: fixed !important;
  right: 1rem !important;
  z-index: calc(var(--z-index-level-heighest) + 1);
  color: grey;
  top: 0.5rem;
  cursor: pointer;
}

.container {
  width: 100%;
  height: max-content;
  padding: 1rem var(--padding-mobile-mini) 2rem var(--padding-mobile-mini);
  position: relative;
}

section::after {
  content: "";
  width: 88%;
  position: absolute;
  left: 6%;
  bottom: 0.5rem;
  border-bottom: 2px solid var(--text-color-light);
}

.grid {
  display: grid;
  width: 100%;
  height: max-content;
}

.content {
  grid-template-columns: repeat(1, max-content);
}

.hero_heading span:nth-child(1) {
  color: red;
}

.hero_content:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  order: 1;
  flex-wrap: wrap;
}

.hero_content:nth-child(2) {
  order: 2;
  height: max-content;
  padding: 2rem 0;
}

.hero_content:nth-child(2)>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_heading {
  display: flex;
  width: max-content;
  max-width: 100%;
  column-gap: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 0; */
  column-gap: 0.5rem;
  font-size: var(--h1-font-size);
  font-weight: var(--font-extra-bold);
  color: var(--text-color-title);
}

.hero_heading span {
  margin: 0;
}

.hero_greeting {
  font-size: var(--mobile-normal-font-size);
  font-family: var(--body-font-family);
  font-weight: var(--font-medium);
  width: max-content;
  color: var(--text-color);
}

.hero_info {
  font-size: var(--mobile-small-font-size);
  font-weight: var(--font-regular);
  color: var(--text-color-light);
  width: 100%;
  word-wrap: break-word;
  margin-top: 0.4rem;
  max-width: 100%;
  font-family: var(--title-font-family);
}

.hero_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.3rem;
}

.hero_button {
  width: max-content;
  padding: 0.4rem 1.5rem;
  text-align: center;
  border-radius: 0.4rem;
  border: none;
  letter-spacing: 1px;
  font-family: var(--body-font-family);
  background: linear-gradient(to right, hsl(0, 100%, 40%), hsl(0, 100%, 70%));
  color: var(--body-color);
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.9s;
}

.hero_button:nth-child(2) {
  background: transparent;
  border: 1px solid hsl(0, 100%, 40%);
  color: hsl(0, 100%, 40%);

}

.big_arrow_left,
.big_arrow_right {
  font-size: calc(var(--mobile-tiny-font-size) + 0.398vw);
  color: var(--container-color);
  font-weight: var(--font-bold);
  min-width: 20%;
  padding-left: 1.5rem;
  max-width: 100px;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: right;
  background: linear-gradient(to right, hsl(0, 100%, 40%), red, hsl(0, 100%, 70%));
}

.big_arrow_left {
  padding-left: 0;
  padding-right: 1.5rem;
  text-align: left;
  background: linear-gradient(to left, hsl(0, 100%, 40%), red, hsl(0, 100%, 70%));
}

.big_arrow_left i,
.big_arrow_right i {
  font-size: var(--h3-font-size);
}

.circle {
  width: 40%;
  max-width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-top: 3px solid hsl(0, 100%, 60%);
  border-bottom: 3px solid hsl(0, 100%, 60%);
  padding: 0;
  display: grid;
  place-items: center;
}

.image_circle {
  width: 80%;
  aspect-ratio: 1/1;
  background: linear-gradient(to left, hsl(0, 100%, 40%), red, hsl(0, 100%, 70%));
  border-radius: 50%;
  position: relative;
}

.big_arrow_left::after {
  content: "";
  position: absolute;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 1.2rem solid hsl(0, 100%, 70%);
  z-index: 1;
  left: -1.16rem;
}

.big_arrow_left::before {
  content: "";
  position: absolute;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-right: 1.2rem solid white;
  z-index: 1;
  right: -1.8px;
}

.big_arrow_right::before {
  content: "";
  position: absolute;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 1.2rem solid white;
  left: -2px;
  top: 0;
  z-index: 1;
}

.big_arrow_right::after {
  content: "";
  position: absolute;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 1.2rem solid hsl(0, 100%, 70%);
  right: -1.16rem;
  z-index: 1;
}

.hero_shadow {
  width: 40%;
  max-width: 200px;
  height: 2dvh;
  margin-top: 2.5rem;
  border-radius: 50%;
  background: radial-gradient(rgb(151, 150, 150), rgb(212, 211, 211), white);
}
.hero_circles{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.hero_circles span{
  border-radius: 50%;
  width: max-content;
  aspect-ratio: 1/1;
  /* position: relative; */
  position: absolute;
  padding: 0.2rem 0.4rem;
  display: block;
  border-top: 1px solid rgb(255, 162, 162);
  border-left: 1px solid rgb(255, 162, 162);
}
.hero_circles span i{
  font-size: 2rem;
  color: var(--container-color);
  opacity: 0.5;
}
.hero_circles span:nth-child(1){
  top: 50%;
  left: 80%;
  padding: 1rem 1.2rem;
  transform: rotate(-45deg);
}
.hero_circles span:nth-child(1) i{
  font-size: 5rem;
}
.hero_circles span:nth-child(2){
  top: 15%;
  left: 20%;
  padding: 1rem 1.3rem;
  transform: rotate(-25deg);

}
.hero_circles span:nth-child(2) i{
  font-size: 4rem;
}
.hero_circles span:nth-child(3){
  padding: 1.5rem 1.7rem;
  top: 40%;
  left: 2%;
}
.hero_circles span:nth-child(3) i{
  font-size: 6rem;
}
.hero_circles span:nth-child(4){
  padding: 0.7rem 0.9rem;
  top: 0%;
  left: 70%;
}
.hero_circles span:nth-child(4) i{
  font-size: 3rem;
}
.hero_circles span:nth-child(5){
  padding: 0.7rem 0.9rem;
  top: 40%;
  left: 50%;
}
.hero_circles span:nth-child(5) i{
  font-size: 2rem;
}
.hero_circles span:nth-child(6){
  padding: 0.7rem 0.9rem;
  top: 25%;
  right: 0%;
  transform: rotate(60deg);
}
.hero_circles span:nth-child(6) i{
  font-size: 5rem;
}

/* about */
.heading {
  font-size: var(--h3-font-size);
}

.subheading {
  font-family: var(--title-font-family);
  font-size: calc(var(--mobile-small-font-size) + 1px);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
  margin: auto;
  display: block;
  width: max-content;
  margin-top: 0.5rem;
}

.hero_container,
.about_container,
.skills_container,
.qualification_container,
.services_container,
.projects_container,
.testimonial_container,
.contact_container {
  padding: 8dvh 1.75rem 8dvh 1.75rem;
  position: relative;
}

.about_container .content,
.skills_container .content,
.qualification_container .content {
  margin-top: 1rem;
}

.about_grid,
.qualification_grid {
  margin-top: 1.8rem;
  row-gap: 1.85rem;
}

.title {
  font-size: var(--mobile-normal-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-extra-bold);
}

.description {
  color: var(--text-color-light);
  font-size: var(--mobile-small-font-size);
  font-weight: 500;
  line-height: 1.4rem;
}

.data {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1.5rem !important;
  font-family: var(--body-font-family);
  align-items: flex-start;
}

.data .list {
  display: flex;
  flex-direction: column;
  line-height: 1.4rem;
}

.data .list li {
  font-size: var(--mobile-small-font-size);
  font-weight: 500;
  color: var(--text-color-light);
  /* border: 1px solid red; */
}

.data h3 {
  font-size: var(--h3-font-size);
  margin: 0;
  color: var(--text-color);
}

.skills_container .skills_grid>div:nth-child(2) .data .list {
  grid-template-columns: repeat(1, 100%);
  justify-content: space-between;
}

.skills_container .skills_grid>div:nth-child(2) img {
  height: 4.3rem;
  width: 5rem !important;
  /* aspect-ratio: 1/1 !important; */
}

.skills_container .skills_grid .title {
  margin: auto;
  text-align: center;
}

.skills_container .data .list {
  padding: 1rem;
  margin: 0;
  width: 100%;
  display: grid;
  row-gap: 3rem;
  column-gap: 1.75rem;
  grid-template-columns: repeat(3, 1fr);
}

.skills_container .data .list li {
  height: max-content;
  display: flex;
  flex-direction: column;
  line-height: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 0.8rem;
  border-radius: 0.2rem;
  box-shadow: 0 6px 20px var(--container-color);
}

.skills_container .data .list li img {
  font-size: calc(var(--h1-font-size) * 2);
  background: linear-gradient(to right, hsl(0, 100%, 40%), orange);
  -webkit-background-clip: text;
  /* optional for different browser */
  background-clip: text;
  color: transparent;
  width: 3.5rem;
  min-height: 50%;
  line-height: 5rem;
}

.data .list li span:nth-child(2) {
  font-size: var(--mobile-small-font-size);
  color: var(--text-color-title);
  font-weight: var(--font-extra-bold);
  margin-top: 0.7rem;
  white-space: nowrap;
}

.data .list li span:nth-child(3) {
  font-size: var(--mobile-smaller-font-size);
  margin-top: 0.1rem;
}

/* qualification and contact */
.qualification_container {
  justify-content: flex-start;
}

.qualification_grid {
  row-gap: 2.25rem;
  margin: auto;
  justify-content: center;
  margin: auto;
}

.qualification_grid > div {
  width: 90% !important;
  margin-left: 5%;
}

.qualification_grid .title {
  text-align: center;
  width: max-content;
  margin: 0 auto;
}

.qualification_grid .title i {
  border: none;
}

.qualification_grid .data {
  margin: 0 auto;
  max-width: 320px;
}

.qualification_grid .data .list, .contact_grid .data .list {
  gap: 0;
  row-gap: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.qualification_grid .data .list li, .contact_grid .data .list li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}

.qualification_grid .data .list li span, .contact_grid .data .list li span {
  color: var(--text-color-light);
}

.qualification_grid .data .list li span:nth-child(2) {
  margin-top: 0.75rem !important;
  font-size: var(--mobile-small-font-size);
  font-weight: var(--font-medium);
  font-family: var(--title-font-family);
}

.qualification_grid .data .list li span:nth-child(3) {
  margin-top: 0 !important;
}
/* contact some parts */
.contact_grid{
  row-gap: 3rem;
}
.contact_grid .title{
  text-align: center;
  margin: 0 auto;
}
.contact_grid .data .list{
  margin-top: 1.5rem !important;
  margin: 0 auto;
  max-width: 400px;
}
.contact_grid .data:nth-child(2) .list{
  align-items: center;
}

.contact_grid .data .list li p {
  font-family: var(--container-color);
  font-family: var(--title-font-family);
font-weight: var(--font-regular);
}
.contact_grid .data .list li a {
  font-size: var(--mobile-small-font-size);
  font-weight: var(--font-medium);
  font-family: var(--title-font-family);
  color: var(--text-color-title);
  text-decoration: none;
  margin-top: 0.7rem;
  column-gap: 0.7rem;
  display: flex;
  align-items: center;
}
.contact_grid .data .list li a i {
  font-size: calc( var(--mobile-small-font-size) + 2px );
}

.contact_grid .data:nth-child(2) .list li {
  position: relative;
  width: 100%;
  align-items: center;
  border: 1px solid var(--text-color-light);
  max-width: 400px;
  border-radius: 2rem;
  padding: 0.2rem 0;
}
.contact_grid .data:nth-child(2) .list li:nth-last-child(1) {
  border: none;
}
.contact_grid .data:nth-child(2) .list li:nth-last-child(1) button {
  width: 100%;
  height: 2.5rem;
  background-color: var(--body-color);
  font-size: calc( var(--mobile-normal-font-size) + 4px );
  font-weight: var(--font-bold);
  color: rgb(208, 208, 208);
  border-radius: 2px;
  box-shadow: 0 0 0 2px var(--container-color);
  border: 6px solid white;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background-color 0.7s;
}
.contact_grid .data:nth-child(2) .list li:nth-last-child(1) button i{
  margin-left: 1rem;
}
.contact_grid .data:nth-child(2) .list li label {
  position: absolute;
  top: -0.9rem;
  z-index: var(--z-index-level-1);
  left: 1.9rem;
  width: max-content;
  padding: 0.2rem 0.4rem ;
  background-color: var(--body-color);
}
.contact_grid .data .list li input, .contact_grid .data .list li textarea  {
  width: 90%;
  max-width: 400px;
  display: block;
  height: 3rem;
  padding: 0.3rem 1rem;
  font-size: var(--mobile-normal-font-size) ;
  outline: none;
  font-family: var(--title-font-family);
  border: none;
  border-radius: 1rem;
}
.contact_grid .data .list li textarea  {
  height: 7rem;
  line-height: 2rem;
  padding: 1rem;
  line-height: 1rem;
}

.qualification_grid .data .data_heading {
  font-size: calc(var(--mobile-normal-font-size) + 2px);
  font-weight: var(--font-regular);
  color: var(--text-color-title);
}

/* services */

.services_container .content {
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.services_container .data {
  justify-content: center;
  align-items: center;
}

.services_container .content .data .service_card {
  width: 100%;
  max-width: 260px;
  aspect-ratio: 1/1.1;
  border: 10px solid var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: background-color, box-shadow 0.6s;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.services_container .content .data .service_card i {
  font-size: 3.5rem;
  color: var(--text-color-light);
}

.services_container .content .data .service_card .card_title {
  color: var(--text-color-title);
  font-size: calc(var(--h3-font-size) - 6px);
  text-align: center;
  margin-top: 1rem;

}

.services_container .content .data .service_card .card_info {
  font-size: calc(var(--mobile-normal-font-size) - 1px);
  font-family: var(--title-font-family);
  font-weight: var(--font-semi);
  color: var(--text-color-light);
  text-align: center;
  margin-top: 1.25rem;
  line-height: 1.15rem;
}

/* projects */
.projects_container {
  padding: 0 2rem;
}

.mySwiper {
  margin-top: 3rem;
  width: 80dvh;
  padding: 3rem;
  position: relative;
  min-width: 200px !important;
}

.swiper-wrapper {
  width: 100% !important;
  max-width: 400px;
  overflow: hidden;
  gap: 1rem;
  justify-content: flex-start;
  padding: 0 !important;
  min-width: 200px !important;
}

.mySwiper .swiper-slide {
  height: 50% !important;
  margin-bottom: 4rem;
  width: 100% !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  top: -8rem;
}

.mySwiper .swiper-button-next::after {
  right: 0 !important;
  position: absolute;
  z-index: var(--z-index-level-3);
  font-weight: var(--font-extra-bold);
  font-size: var(--h2-font-size);
}

.mySwiper .swiper-button-prev::after {
  left: 0 !important;
  position: absolute;
  z-index: var(--z-index-level-3);
  font-weight: var(--font-extra-bold);
  font-size: var(--h2-font-size);
}

.mySwiper .swiper-pagination-bullets {
  transform: translateY(2rem);
}

.projects_flex {
  width: 100%;
}

.projects_flex > div {
  width: 90%;
  margin: auto;
  height: max-content;
  padding: 2rem 5rem;
}

.projects_flex > div img {
  width: 100%;
  height: 100%;
  margin: auto !important;
  border-radius: 1rem;
  min-width: 200px !important;
}

.projects_flex > div .project_title {
  margin-top: 0.75rem;
  font-size: calc(var(--mobile-small-font-size) + 3px);
  font-family: var(--body-font-family);
}

.projects_flex > div .info {
  font-size: calc(var(--mobile-small-font-size) + 0);
  font-weight: var(--font-regular);
  color: var(--text-color-light);
  width: 100%;
  word-wrap: break-word;
  margin-top: 0.6rem;
  max-width: 100%;
  font-family: var(--title-font-family);
}

.projects_flex > div a {
  margin-top: 1.5rem;
  padding: 0.6rem 1.5rem;
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--text-color-light);
  font-size: calc(var(--mobile-normal-font-size) + 0.1rem);
  text-decoration: none;
  font-weight: var(--font-bold);
  color: var(--text-color-title);
  z-index: var(--z-index-level-3);
  transition: color 1s;
}

.projects_flex>div>a>i {
  font-size: calc(var(--mobile-normal-font-size) + 0.5rem);
}

/* testimonial */

.testimonial_container .mySwiper {
  margin: 0 auto !important;
  margin-top: 3rem;
  width: 90dvw !important;
  height: max-content !important;
  padding: 0 0.5rem;
}

.testimonial_container .swiper-wrapper {
  overflow: hidden;
  gap: 1rem;
}

.testimonial_container .mySwiper .swiper-slide {
  height: 50% !important;
  margin-bottom: 4rem;
  text-align: center;
}

.testimonial_container .mySwiper .swiper-slide > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color-light);
  font-size: calc( var(--mobile-normal-font-size) - 1px ) !important;
  font-weight: var(--font-medium);
}

.testimonial_container .mySwiper .swiper-slide>div span:nth-child(3) {
  font-size: calc(var(--mobile-normal-font-size) + 1px);
  font-weight: var(--font-bold);
  color: var(--text-color);
  margin-top: 0.9rem;
}

.testimonial_container .mySwiper .swiper-slide>div span:nth-child(4) {
  font-weight: var(--font-medium);
  font-size: calc(var(--mobile-normal-font-size) + 0px);
  color: var(--text-color-light);
  margin-top: 0.2rem;
}

.testimonial_container .mySwiper .swiper-button-next,
.testimonial_container .mySwiper .swiper-button-prev {
  top: calc(100% - 2rem);
  position: absolute !important;
}

.testimonial_container .mySwiper .swiper-button-next {
  right: calc(50% - 3rem);
}

.testimonial_container .mySwiper .swiper-button-prev {
  left: calc(50% - 3rem);
}

.testimonial_container .mySwiper .swiper-button-next::after {
  right: 0 !important;
  position: relative !important;
  z-index: var(--z-index-level-3);
  font-weight: var(--font-extra-bold);
  font-size: var(--mobile-normal-font-size);
  top: 0;
}

.testimonial_container .mySwiper .swiper-button-prev::after {
  left: 0 !important;
  position: relative !important;
  z-index: var(--z-index-level-4);
  font-weight: var(--font-extra-bold);
  font-size: var(--mobile-normal-font-size);
  top: 0;
}

.testimonial_container .mySwiper .swiper-pagination-bullets {
  display: none;
}

/* footer */
.footer_grid{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
}
.footer_grid .list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_grid .list .title{
  font-size: calc( var(--mobile-normal-font-size) + 0.438dvw );
  letter-spacing: 1px;
}
.footer_grid .list .subheading{
  color: var(--text-color-title);
  font-weight:  var(--font-medium);
  /* font-family: var(--body-font-family); */
  margin-top: 0.75rem;
  font-size: var(--mobile-normal-font-size);
}
.footer_grid .list:nth-child(2), .footer_grid .list:nth-child(3) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}
.footer_grid .list li a{
  font-size: var(--mobile-small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color-light);
}
.footer_grid .list:nth-child(3){
  column-gap: 1.5rem;
}
.footer_grid .list:nth-child(3) li a{
  font-size: 1.75rem;
}
.footer_copy{
  text-align: center;
  margin-top: 0.6rem;
  font-weight: var(--font-medium);
}

/* hover effect */
.hero_button:nth-child(1):hover {
  background: transparent;
  color: hsl(0, 100%, 40%);
  border: 1px solid hsl(0, 100%, 40%);
}

.hero_button:nth-child(2):hover {
  background: hsl(0, 100%, 40%);
  color: var(--container-color);
  border: 1px solid transparent;
}

.circle:hover {
  animation: hero_circle 1.5s;
}

.services_container .content .data .service_card:hover {
  box-shadow: 0 0 0 0.2rem var(--container-color);
  background-color: var(--container-color);

}

.projects_flex > div a:hover {
  background-color: var(--container-color);
  color: var(--text-color-light);
  border: 1px solid transparent;
}

.contact_grid .data:nth-child(2) .list li:nth-last-child(1) button:hover {
  background-color: white;
}
a:hover{
  color: var(--text-color-title) !important;
}


@keyframes hero_circle {
  0% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-10px)
  }

  40% {
    transform: translateY(0)
  }

  60% {
    transform: translateY(-4px)
  }

  80% {
    transform: translateY(0)
  }
}



@media only screen and (max-width : 340px) {
  .grid {
    grid-template-columns: repeat(1, 100%);
  }

    /* nav */
    .nav_container {
      height: 9dvh;
      padding: 1rem 2rem;
    }
     .nav {
      transform: translateY(110%);
      align-items: center;
    }

  .hero_container,
  .about_container,
  .skills_container,
  .qualification_container,
  .services_container,
  .projects_container,
  .testimonial_container,
  .contact_container {
    padding: 3rem 1.25rem 3rem 1.25rem;
  }

  .about_container .content,
  .skills_container .content,
  .qualification_container .content {
    margin-top: 1rem;
  }

  .about_container .content,
  .contact_container .content{
    padding: 0 0.25rem;
  }

  /* hero or home */
  .hero_shadow {
    max-width: 300px;
  background: radial-gradient(rgb(151, 150, 150), rgb(212, 211, 211), white);
  }

  .hero_info {
    font-size: calc(var(--mobile-normal-font-size) - 2px);
    font-weight: var(--font-regular);
    margin-top: 0.15rem;
    line-height: 1.25rem;
  }

  .hero_info {
    width: 100%;
    max-width: 100%;
  }

  .active_nav {
    transform: translateY(-7.75rem);
  }

  /* skills */
  .skills_container .data .list {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .skills_container .skills_grid>div:nth-child(2) .data .list {
    grid-template-columns: repeat(1, 100%) !important;
  }

  .skills_container .data .list li img {
    width: 4rem;
  }

  .data .list li span:nth-child(3) {
    font-size: var(--mobile-smaller-font-size);
    margin-top: 0.2rem;
  }

}

@media only screen and (max-width : 767px) {
  .grid {
    grid-template-columns: repeat(1, 100%);
  }

   /* nav */
   .nav_container {
    height: 9dvh;
    padding: 1rem 2rem;
  }
   .nav {
    transform: translateY(110%);
    align-items: center;
  }

  
  .hero_container,
  .about_container,
  .skills_container,
  .qualification_container,
  .services_container,
  .projects_container,
  .testimonial_container,
  .contact_container {
    padding: 3rem 1.5rem 3rem 1.5rem;
  }

  .about_container .content,
  .skills_container .content,
  .qualification_container .content {
    margin-top: 2rem;
  }

  .about_container .content,
  .contact_container .content{
    padding: 0 0.5rem;
  }

  /* hero or home */

  /* .hero_container{

  } */
  .hero_info {
    font-size: calc(var(--mobile-normal-font-size) - 1px);
    font-weight: var(--font-regular);
    font-family: var(--body-font-family);
    margin-top: 0.35rem;
    line-height: 1.35rem;
  }

  .hero_info {
    width: 100%;
    max-width: 98%;
    margin-top: 1rem;
  }

  .hero_shadow {
    max-width: 300px;
  background: radial-gradient(rgb(151, 150, 150), rgb(212, 211, 211), white);
  }

  .active_nav {
    transform: translateY(-7.75rem);
  }

  /* skills */
  .skills_container .skills_grid {
    row-gap: 2.5rem;
    width: 100%;
  }

  .skills_container .data .list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.5rem;
    column-gap: 1rem;
  }

  .skills_container .skills_grid>div:nth-child(2) .data .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills_container .skills_grid>div:nth-child(2) .data .list .skill_title {
    /* word-wrap: break-word; */
    word-break: break-all;
    white-space: initial;
    text-align: center;
    line-height: 1.2rem;
  }

  .skills_container .data .list li img {
    width: 4rem;
  }

  .data .list li span:nth-child(2) {
    font-size: calc(var(--mobile-small-font-size) + 1px);
    margin-top: 1.25rem;
  }

  .data .list li span:nth-child(3) {
    font-size: calc(var(--mobile-smaller-font-size) + 0);
    margin-top: 0.4rem;
  }

  /* testimonial */
  .testimonial_container .content{
    display: flex;
    justify-content: center;
  }
.testimonial_container .mySwiper {
  margin: 0 auto ;
  margin-top: 3rem !important;
  width: 80dvh !important ;
  max-width: 90dvh !important;
}

.testimonial_container .mySwiper .swiper-slide>div {
  font-size: calc( var(--mobile-normal-font-size) + 0px ) !important;
}

.testimonial_container .mySwiper .swiper-slide > div span:nth-child(4){
  font-size: calc( var(--mobile-normal-font-size) - 1px );
}



}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .hero_container,
  .about_container,
  .skills_container,
  .qualification_container,
  .services_container,
  .projects_container,
  .testimonial_container,
  .contact_container {
    padding: 7rem 2rem 7rem 2rem;
  }

  .about_container .content,
  .skills_container .content,
  .qualification_container .content {
    margin-top: 3rem;
  }

  .hero_content:nth-child(1) {
    order: 2;
  }

  .hero_content:nth-child(2) {
    padding: 2rem 1rem 4rem 2rem;
    order: 1;
  }

  .hero_content:nth-child(2) div {
    align-items: flex-start;
  }

  .hero_buttons {
    justify-content: flex-start;
  }

  /* nav */
  .nav_container {
    position: sticky;
    z-index: var(--z-index-level-4);
    top: 0;
    height: 9dvh;
    width: 100%;
    left: 0;
    padding: 1rem 2rem;
    border-radius: 0;
  }

  .nav_container span:nth-child(3) {
    display: none;
  }

  .nav {
    grid-template-columns: repeat(6, max-content);
    z-index: var(--z-index-level-heighest);
    padding: 0;
    box-shadow: 0;
    background: transparent;
    transform: translateY(0);
    /* top: 1.15rem; */
    box-shadow: none;
    height: 9dvh;
    align-items: center;
  }

  .nav li a {
    font-size: 1rem;
    font-weight: var(--font-medium);
  }

  .nav li a i {
    display: none;
  }

  .cancel_menu {
    display: none;
  }

  /* hero or home */
  .hero_info {
    font-size: calc(var(--mobile-normal-font-size) + 1px);
    font-weight: var(--font-regular);
    font-family: var(--body-font-family);
    margin-top: 0.75rem;
    line-height: 1.45rem;
  }
  .hero_shadow {
    max-width: 300px;
  background: radial-gradient(rgb(151, 150, 150), rgb(212, 211, 211), white);
  }

  /* about */

  .about_grid>div:nth-child(2),
  .about_grid>div:nth-child(4),
  .about_grid>div:nth-child(6) {
    align-items: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  .about_grid>div:nth-child(2) .data h3,
  .about_grid>div:nth-child(4) .data h3,
  .about_grid>div:nth-child(6) .data h3 {
    align-self: flex-end;
  }

  /* skills */
  .skills_container .skills_grid {
    grid-template-columns: 1.4fr 1fr;
    column-gap: 1rem;
  }

  .skills_container .data .list {
    row-gap: 2rem;
    column-gap: 1.3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .skills_container .skills_grid>div:nth-child(2) .data .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills_container .data .list li img {
    width: 3.75rem;
  }

  .data .list li span:nth-child(2) {
    font-size: calc(var(--mobile-small-font-size) + 2px);
    margin-top: 1.25rem;
  }

  .data .list li span:nth-child(3) {
    font-size: calc(var(--mobile-smaller-font-size) + 1px);
    margin-top: 0.5rem;
  }

  /* services */
  .services_container .content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    margin-top: 2rem;
  }

  /* projects */
  .swiper-wrapper {
    width: 300px !important;
    overflow: hidden;
    gap: 100px !important;
    justify-content: flex-start;
    padding: 0 100px !important;
  }

  .mySwiper .swiper-slide {
    height: 65dvh !important;
    margin: 0 100px !important;
    margin-bottom: 4rem;
    width: 500px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    top: -7rem;
  }

  .mySwiper .swiper-pagination-bullets {
    transform: translateY(2rem);
    z-index: var(--z-index-level-3);
  }

  /* testimonial */
.testimonial_container .content{
  display: flex;
  justify-content: center;
}
.testimonial_container .mySwiper {
  margin: 0 auto !important;
  margin-top: 3rem !important;
  width: 80dvw !important;
  max-width: 800px;
}

.testimonial_container .mySwiper .swiper-slide > div {
  font-size: calc( var(--mobile-normal-font-size) + 3px ) !important;
}


.testimonial_container .mySwiper .swiper-slide {
  height: 50% !important;
  margin-bottom: 4rem !important;
  text-align: center;
}
.testimonial_container .mySwiper .swiper-slide span{
  font-size: calc( var(--mobile-normal-font-size) + 3px );
}

.testimonial_container .mySwiper .swiper-slide span:nth-child(4){
margin-top: 0.3rem !important;
}

}

@media only screen and (min-width : 1025px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .hero_content:nth-child(1) {
    height: 100%;
    justify-content: center;
  }

  .hero_container,
  .about_container,
  .skills_container,
  .qualification_container,
  .services_container,
  .projects_container,
  .testimonial_container,
  .contact_container {
    padding: 8rem 3rem 8rem 3rem;
  }

  .about_container .content,
  .skills_container .content,
  .qualification_container .content {
    margin-top: 4rem;

  }

  .hero_greeting {
    font-size: calc(var(--mobile-normal-font-size) + 2px);
    font-family: var(--body-font-family);
    font-weight: var(--font-bold);

  }

  .hero_heading {
    font-size: calc(var(--h1-font-size) + 4px);
    font-weight: var(--font-extra-bold);
    font-family: var(--body-font-family);
    margin-top: 0.25rem;
    column-gap: 0.4rem;
  }

  .hero_info {
    font-size: calc(var(--mobile-normal-font-size) + 2px);
    font-weight: var(--font-regular);
    font-family: var(--body-font-family);
    margin-top: 1.1rem;
    line-height: 1.5rem;
  }

  .hero_content:nth-child(1) {
    order: 2;
  }

  .hero_content:nth-child(2) {
    order: 1;
    height: max-content;
    padding: 4rem;
  }

  .hero_content:nth-child(2) div {
    align-items: flex-start;
  }

  .hero_buttons {
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .circle {
    width: 40%;
    max-width: 300px;
  }

  .big_arrow_left,
  .big_arrow_right {
    height: 5rem;
  }

  .big_arrow_left::after {
    border-top: 2.5rem solid transparent;
    border-bottom: 2.5rem solid transparent;
  }

  .big_arrow_left::before {
    border-top: 2.5rem solid transparent;
    border-bottom: 2.5rem solid transparent;
  }

  .big_arrow_right::before {
    border-top: 2.5rem solid transparent;
    border-bottom: 2.5rem solid transparent;
  }

  .big_arrow_right::after {
    border-top: 2.5rem solid transparent;
    border-bottom: 2.5rem solid transparent;
  }

  .hero_shadow {
    display: block;
    max-width: 1000px;
    margin-top: 2rem;
    background: radial-gradient(rgb(151, 150, 150), rgb(212, 211, 211), white);
    /* margin-top: -1rem; */
  }

  /* nav */
  .nav_container {
    position: sticky;
    top: 0;
    height: 11dvh;
    width: 100%;
    left: 0;
    padding: 1rem 2rem;
    border-radius: 0;
  }

  /* .nav_container .nav{
    top: 1.25rem;
  } */

  .nav_container span:nth-child(3) {
    display: none;
  }

  .nav {
    position: fixed;
    top: 0;
    transform: translateY(0);
    z-index: var(--z-index-level-heighest);
    grid-template-columns: repeat(6, max-content);
    padding: 0;
    box-shadow: 0;
    background: transparent;
    box-shadow: none;

    height: 11dvh;
    align-items: center;
  }

  .nav li a {
    font-size: 1.3rem;
    font-weight: var(--font-medium);
  }

  .nav li a i {
    display: none;
  }

  .cancel_menu {
    display: none;
  }

  /* about */

  .about_grid>div:nth-child(2),
  .about_grid>div:nth-child(4),
  .about_grid>div:nth-child(6) {
    align-items: flex-end;
    align-items: flex-end;
    text-align: right;
  }

  .about_grid>div:nth-child(2) .data h3,
  .about_grid>div:nth-child(4) .data h3,
  .about_grid>div:nth-child(6) .data h3 {
    align-self: flex-end;
  }

  /* skills */
  .skills_container .skills_grid {
    grid-template-columns: 1.4fr 1fr;
    column-gap: 2rem;
  }

  .skills_container .data .list {
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .skills_container .skills_grid>div:nth-child(2) .data .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills_container .data .list li img {
    width: 4rem;
  }

  .data .list li span:nth-child(2) {
    font-size: calc(var(--mobile-small-font-size));
    margin-top: 1.5rem;
  }

  .data .list li span:nth-child(3) {
    font-size: calc(var(--mobile-smaller-font-size));
    margin-top: 0.55rem;
  }

  /* services */
  .services_container .content .data .service_card {
    padding: 2rem 2.5rem;
    max-width: 290px;
    aspect-ratio: 1/1.2;
  }

  .services_container .content .data .service_card .card_title {
    color: var(--text-color-title);
    font-size: calc(var(--h3-font-size) - 3px);
  }

  .services_container .content .data .service_card i {
    font-size: 5rem;
  }

  .services_container .content .data .service_card .card_info {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  .services_container .content {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    margin-top: 2rem;
  }

  /* projects */
  .swiper-wrapper {
    width: 700px !important;
    max-width: 700px;
    overflow: hidden;
    gap: 100px !important;
    justify-content: flex-start;
    /* padding: 0 100px !important; */
    /* border: 1px solid red; */
  }

  .mySwiper .swiper-slide {
    height: 55dvh !important;
    margin: 0 !important;
    margin-bottom: 4rem;
    width: 300px !important;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    top: -7rem;
  }

  .mySwiper .swiper-pagination-bullets {
    transform: translateY(1rem);
    z-index: var(--z-index-level-3);
    display: none;
  }

    /* testimonial */
.testimonial_container .content{
  display: flex;
  justify-content: center;
}
.testimonial_container .mySwiper {
  margin: 0 auto !important;
  margin-top: 3rem !important;
  width: 80dvw !important;
  max-width: 1200px;
}

.testimonial_container .mySwiper .swiper-slide>div {
  font-size: calc( var(--mobile-normal-font-size) + 3px );
}


.testimonial_container .mySwiper .swiper-slide {
  height: 50% !important;
  margin-bottom: 4rem !important;
  text-align: center;
  width: 100% !important;
}
.testimonial_container .mySwiper .swiper-slide span{
  font-size: calc( var(--mobile-normal-font-size) + 6px ) !important;
}

.testimonial_container .mySwiper .swiper-slide span:nth-child(4){
margin-top: 0.3rem !important;
font-size: calc( var(--mobile-normal-font-size) + 4px ) !important;

}
}